* {
    margin: 0;
}

.wrapper {
    background: grey;
    text-align: center;
}

div > input, textarea, .buttom {
    width: 600px;
    height: 30px;
    margin: auto;
}

textarea {
    height: 200px;
}

textarea:focus {
    background: burlywood;
}

.buttom input {
    width: 100px;
    background: red;
    border: 2px solid black;
    border-radius: 10px;
    float: right;
    margin-bottom: 10px;
}

div > input, textarea {
    margin-top: 10px;
}

.clear {
    clear: both;
}

.buttom input:hover {
    background: yellowgreen;
}


/*
ul li {
    background: green;
}
ul li:nth-child(even) {
    background: red;
}
ul > li:not(.li) {
    background: black;
}*/
/*
ol {
    counter-reset: item;
    list-style: none;
}
li:before {
    counter-increment: item;
    content: counter(item)". ";
}
ol ol li:before{
    content: counters(item,".") " ";
}*/
